# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio & IntelliJ
*.iml
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/copyright/
.idea/vcs.xml
.idea/misc.xml
.idea/gradle.xml
.idea/deploymentTargetDropDown.xml
cmake-build-*/
.cxx/
*.keystore
!debug.keystore

# Gradle
.gradle/
build/

# Kotlin
*.kotlin_module
.kotlin/

# OS specific
.DS_Store
Thumbs.db
